* {
	padding: 0;
	margin: 0;
}
body {
    font-family: Helvetica Neue, Verdana, Arial, sans-serif;
}
.header {
    padding: 10pt 10pt 10pt 5pt;
}
.headerBold {
    line-height:normal;
    font-weight: bold;
    font-size:14pt;
}
.headerNormal {
    line-height:normal;
    font-weight: normal;
    font-size:14pt;
    color: #4684FF;
    border-left: solid 1px black;
    /*padding-left: 5pt;*/
    margin-left: 5pt;
}
.path {
    border-top: solid 1px #E9E9E9;
    border-bottom: solid 1px #E9E9E9;
    padding-top: 2pt;
    padding-bottom: 2pt;
    width: 100%;
}
.pathText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12pt;
    display: block;
    color: #494949
}
.pathImage {
    height: 15pt;
    vertical-align: bottom;
}
.content {
    padding: 10pt 10pt 10pt 10pt;
}
.content th {
    text-align: left;
    padding-bottom: 5pt;
    padding-left: 2pt;    
}
.content td {    
    padding-bottom: 3pt;
    padding-left: 2pt;
    padding-right: 15pt;
}
.content a {
    color: #4684FF;
    text-decoration: none;
}
.filesize {
	text-align: right;
}